doctype html
html(lang='en', data-theme='light')
    include components/head.pug

    body
        include components/navbar.pug

        section(class='content')
            div(class='content-container')
                h2(id='about-title')= aboutTitle
                p(id='short-autobiography')= shortAutobiography
                p(id='goals')= goals
                h2(id="service-title") Services
                ul(class='services-list')
                    li= usersAndGroups
                    li= cronjobs
                    li= storage
                    li= systemFailures
                    li= networking
                    li= loadBalancing
                    li= deployment
                    li= containers
                h2(id='contact-title')= contactTitle
                p(id='contact')!= contact

        include components/footer.pug

    script(src='theme.js')