doctype html
html(lang=language, data-theme='light')
    include components/head.pug

    body(data-page="index")
        include components/navbar.pug

        section(class='content')
            div(class='content-container')
                h2(data-key='index.title')= translations.index.title
                div(data-key='index.presentation')!= translations.index.presentation
                h2 Services
                div(data-key="index.services")!= translations.index.services
                div(data-key='index.contact')!= translations.index.contact

        include components/footer.pug

    script(src='/theme.js', defer)
    script(src='/lang.js', defer)
    script(src='/nav.js', defer)
    script(src='/window.js', defer)