doctype html
html(lang=language, data-theme='light')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet' type='text/css', href='/static/styles/style.min.css')
        meta(name='author', content='Maximilien Nadji')
        meta(property="og:site_name" content=translations.title)
        meta(property="og:title" content=translations.git_article.title)
        if language == "fr"
            meta(property="og:description" content="Explorez ce qu'est Git, son importance dans le cycle de vie du développement logiciel et mettre en avant quelques commandes Git utiles")
            meta(name='description', content="Explorez ce qu'est Git, son importance dans le cycle de vie du développement logiciel et mettre en avant quelques commandes Git utiles")
            meta(name='keywords', content='Linux, DevOps, Freelance, Administrateur, Système, Automatisation')
        else
            meta(property="og:description" content="Dive into what Git is, its importance in the software development lifecycle, and highlight some useful Git commands")
            meta(name="description" content="Dive into what Git is, its importance in the software development lifecycle, and highlight some useful Git commands")
            meta(name='keywords', content='Linux, DevOps, Freelance, Automation, Administrator, System')
        meta(property="og:image" content="https://maximilien-nadji.com/thumbnail.jpg")
        meta(property="og:url" content="https://maximilien-nadji.com")
        meta(property="og:type" content="website")
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:image" content="https://maximilien-nadji.com/thumbnail.jpg")
        link(rel='canonical' href='https://maximilien-nadji.com/blog/git')
        link(rel='alternate' hreflang='en' href='https://maximilien-nadji.com/en/blog/git')
        link(rel='alternate' hreflang='fr' href='https://maximilien-nadji.com/fr/blog/git')
        link(rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
        link(rel="manifest" href="/manifest.json")
        title(data-key='title')= translations.title

    body
        include ../components/navbar.pug

        section(class='content')
            div(class='content-container')
                h1(data-key='git_article.title')= translations.git_article.title
                p(class='article-date') 24/03/2025
                div(data-key='git_article.content')!= translations.git_article.content

        include ../components/footer.pug

        script(src='/theme.js')
        script(src='/lang.js')
        script(src='/nav.js')