doctype html
html(lang=language, data-theme='light')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet' type='text/css', href='/static/styles/style.min.css')
        meta(name='author', content='Maximilien Nadji')
        meta(property="og:title" content=translations.common.title)
        if language == "fr"
            meta(property="og:description" content="Explorez des articles, tutoriels et conseils sur Linux et DevOps issus de mon expérience personnelle pour vous aider à maîtriser ces sujets")
            meta(name='description', content="Explorez des articles, tutoriels et conseils sur Linux et DevOps issus de mon expérience personnelle pour vous aider à maîtriser ces sujets.")
            meta(name='keywords', content='Linux, Administration, Système, DevOps, Blog, Articles, Tutoriels, Conseils')
        else
            meta(property="og:description" content="Explore Linux and DevOps articles, tutorials, and insights from my own experience to help you master these topics")
            meta(name="description" content="Explore Linux and DevOps articles, tutorials, and insights from my own experience to help you master these topics")
            meta(name='keywords', content='Linux, Administration, System, DevOps, Blog, Articles, Tutorials, Insights')
        meta(property="og:image" content="https://maximilien-nadji.com/thumbnail.jpg")
        meta(property="og:url" content="https://maximilien-nadji.com")
        meta(property="og:type" content="website")
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:image" content="https://maximilien-nadji.com/thumbnail.jpg")
        link(rel='canonical' href='https://maximilien-nadji.com/blog/')
        link(rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
        link(rel="manifest" href="/manifest.json")
        title(data-key='common.title')= translations.common.title

    body
        include ../components/navbar.pug

        section(class='content')
            div(class='content-container')
                h1(id='articles-title') Articles
                ul(class='articles')
                    li
                        a(href='/blog/linux' data-key='page.linux')= translations.page.linux
                        p(data-key='page.linux_date' class='date')= translations.page.linux_date
                    li
                        a(href='/blog/git' data-key='page.git')= translations.page.git
                        p(data-key='page.git_date' class='date')= translations.page.git_date
                    li
                        a(href='/blog/users' data-key='page.users')= translations.page.users
                        p(data-key='page.user_date' class='date')= translations.page.users_date
                    li
                        a(href='/blog/brr' data-key='page.brr')= translations.page.brr
                        p(data-key='page.brr_date' class='date')= translations.page.brr_date
                    li
                        a(href='/blog/usb' data-key='page.usb')= translations.page.usb
                        p(data-key='page.usb_date' class='date')= translations.page.usb_date

        include ../components/footer.pug

        script(src='/theme.js')
        script(src='/lang.js')
        script(src='/nav.js')