doctype html
html(lang=language, data-theme='light')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet' type='text/css', href='/static/styles/style.min.css')
        meta(name='author', content='Maximilien Nadji')
        meta(property="og:title" content=translations.title)
        if language == "fr"
            meta(property="og:description" content="Explorez des articles, tutoriels et conseils sur Linux et DevOps issus de mon expérience personnelle pour vous aider à maîtriser ces sujets")
            meta(name='description', content="Explorez des articles, tutoriels et conseils sur Linux et DevOps issus de mon expérience personnelle pour vous aider à maîtriser ces sujets.")
            meta(name='keywords', content='Linux, Administration, Système, DevOps, Blog, Articles, Tutoriels, Conseils')
        else
            meta(property="og:description" content="Explore Linux and DevOps articles, tutorials, and insights from my own experience to help you master these topics")
            meta(name="description" content="Explore Linux and DevOps articles, tutorials, and insights from my own experience to help you master these topics")
            meta(name='keywords', content='Linux, Administration, System, DevOps, Blog, Articles, Tutorials, Insights')
        meta(property="og:image" content="https://maximilien-nadji.com/thumbnail.jpg")
        meta(property="og:url" content="https://maximilien-nadji.com")
        meta(property="og:type" content="website")
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:image" content="https://maximilien-nadji.com/thumbnail.jpg")
        link(rel='canonical' href='https://maximilien-nadji.com/blog/')
        link(rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
        link(rel="manifest" href="/manifest.json")
        title(data-key='title')= translations.title

    body
        include ../components/navbar.pug

        section(class='content')
            div(class='content-container')
                h1(id='articles-title') Articles
                ul(class='articles')
                    li
                        a(href='/blog/linux' data-key='blog_index.linux')= translations.blog_index.linux
                        p(class='date') 17/03/2025 (Last updated: 03/04/2025)
                    li
                        a(href='/blog/git' data-key='blog_index.git')= translations.blog_index.git
                        p(class='date') 24/03/2025
                    li
                        a(href='/blog/user-group-file-permissions' data-key='blog_index.user_group_file_permissions')= translations.blog_index.user_group_file_permissions
                        p(class='date') 24/03/2025
                    li
                        a(href='/blog/backup-restore-recovery' data-key='blog_index.brr')= translations.blog_index.brr
                        p(class='date') 17/03/2025
                    li
                        a(href='/blog/bootable-usb' data-key='blog_index.usb')= translations.blog_index.usb
                        p(class='date') 17/03/2025

        include ../components/footer.pug

        script(src='/theme.js')
        script(src='/lang.js')
        script(src='/nav.js')