doctype html
html(lang=language, data-theme='light')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet' type='text/css', href='/static/styles/style.min.css')
        meta(name='author', content='Maximilien Nadji')
        meta(property="og:site_name" content=translations.title)
        meta(property="og:title" content=translations.linux_article.title)
        if language == "fr"
            meta(property="og:description" content="Découvrez la différence entre Linux et Système Linux ainsi que leurs compositions")
            meta(name='description', content="Découvrez la différence entre Linux et Système Linux ainsi que leurs compositions")
            meta(name='keywords', content='Linux, Système, Noyau')
        else
            meta(property="og:description" content="Discover the difference between Linux and the Linux System, as well as their compositions")
            meta(name="description" content="Discover the difference between Linux and the Linux System, as well as their compositions")
            meta(name='keywords', content='Linux, System, Kernel')
        meta(property="og:image" content="https://maximilien-nadji.com/thumbnail.jpg")
        meta(property="og:url" content="https://maximilien-nadji.com")
        meta(property="og:type" content="website")
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:image" content="https://maximilien-nadji.com/thumbnail.jpg")
        link(rel='canonical' href='https://maximilien-nadji.com/blog/linux')
        link(rel='alternate' hreflang='en' href='https://maximilien-nadji.com/en/blog/linux')
        link(rel='alternate' hreflang='fr' href='https://maximilien-nadji.com/fr/blog/linux')
        link(rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
        link(rel="manifest" href="/manifest.json")
        title(data-key='title')= translations.title

    body
        include ../components/navbar.pug

        section(class='content')
            div(class='content-container')
                h1(data-key='linux_article.title')= translations.linux_article.title
                p(class='date') 17/03/2025 (Last updated: 03/04/2025)
                div(data-key='linux_article.content')!= translations.linux_article.content

        include ../components/footer.pug

        script(src='/theme.js')
        script(src='/lang.js')
        script(src='/nav.js')