doctype html
html(lang=language, data-theme='light')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet' type='text/css', href='/static/styles/style.min.css')
        meta(name='author', content='Maximilien Nadji')
        meta(property="og:site_name" content=translations.common.title)
        meta(property="og:title" content=translations.page.title)
        if language == "fr"
            meta(property="og:description" content="Découvrez comment créer et modifier des utilisateurs et des groupes, attribuer des permissions et suivre les bonnes pratiques pour maintenir un système sécurisé et bien organisé")
            meta(name='description', content="Découvrez comment créer et modifier des utilisateurs et des groupes, attribuer des permissions et suivre les bonnes pratiques pour maintenir un système sécurisé et bien organisé")
            meta(name='keywords', content='Linux, Permissions, Utilisateurs, Groupes, Fichiers, Administrateur, Système')
        else
            meta(property="og:description" content="Discover how to create and modify users and groups, assign permissions, and follow best practices to maintain a secure and well-organized system")
            meta(name="description" content="Discover how to create and modify users and groups, assign permissions, and follow best practices to maintain a secure and well-organized system")
            meta(name='keywords', content='Linux, Permissions, Users, Groups, Files, Administrator, System')
        meta(property="og:image" content="https://maximilien-nadji.com/thumbnail.jpg")
        meta(property="og:url" content="https://maximilien-nadji.com")
        meta(property="og:type" content="website")
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:image" content="https://maximilien-nadji.com/thumbnail.jpg")
        link(rel='canonical' href='https://maximilien-nadji.com/blog/user-group-file-permissions')
        link(rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
        link(rel="manifest" href="/manifest.json")
        title(data-key='common.title')= translations.common.title

    body
        include ../components/navbar.pug

        section(class='content')
            div(class='content-container')
                h1(data-key='page.title')= translations.page.title
                p(data-key='page.date' class='date')= translations.page.date
                div(data-key='page.content')!= translations.page.content

        include ../components/footer.pug

        script(src='/theme.js')
        script(src='/lang.js')
        script(src='/nav.js')